USE [master]
GO
/****** Object:  Database [TourMate_Auth]    Script Date: 7/5/2025 1:12:18 PM ******/
CREATE DATABASE [TourMate_Auth]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Auth', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Auth.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Auth_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Auth_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Auth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Auth]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/5/2025 1:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountId] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[roleId] [int] NOT NULL,
	[status] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 7/5/2025 1:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[id] [uniqueidentifier] NOT NULL,
	[userId] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expireAt] [datetime] NOT NULL,
	[isRevoked] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/5/2025 1:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
